body {
	background-color: #161616;
	color: #FFFFFF;
	font: 14px/1.2em 'Courier New', serif;
	/* width: 960px; Don't define the width here  - it affects everything*/
	padding: 0;
	margin: 0;
}

a {   /* Should there be a class identifier for this? */ 
    color: #EEEEEE;
    text-decoration: underline;
}

p.message {
    color: #335E79;
    padding: 10px;
    background: #CADEEB;
}

p.error {
    color: #783232;
    padding: 10px;
    background: #EBCACA;
}

input {
    font-size: 16px;
    border: 1px solid black;
    color: #EEEEEE;
    padding: 2px;
    font-family: inherit;
    background-color: #444444;
    border-color: #EEEEEE;
}

button {
    font-size: 16px;
    border: 1px solid black;
    color: white;
    padding: 2px;
    font-family: inherit;
}

input[type="submit"] {
    color: white;
    background-color: #444444;
    border-color: #EEEEEE;
    font-family: inherit;
}
  
input[name="openid"] {
    background: url(openid.png) 4px no-repeat;
    padding-left: 24px;
    font-family: inherit;
}

select {
    color: white;
    background-color: #444444;
    border-color: #EEEEEE;
    font-family: inherit;
}

h1, h2 {
    font-weight: normal;
}

.boxClass
{
    border:3px solid #888a85;
    border-radius: 5px;
    padding:5px;
    
    color:white;
    background-color: #333344;
    
    float:left;
    width:30%;
    height:300px;
    
    overflow:scroll;
}

.fullWidthChatBox
{
    width:90%;
    height:300px;
    float:none;
}

.floatLeftBox
{
    float:left;
    margin:5px;
}
