<!doctype html>
<title>{% block title %}Welcome{% endblock %} | LosAtlantis proof-of-concept site</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<h1>
  {% if g.user %}
    {% if g.user._type == 0 %}
      The Observatory
    {% endif %}
    {% if g.user._type == 1 %}
      The Guide
    {% endif %}
    {% if g.user._type == 2 %}
      LosAtlantis proof-of-concept site
    {% endif %}
  {% else %}
    LosAtlantis proof-of-concept site
  {% endif %}
</h1>
{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}
{% endfor %}
{% block body %}{% endblock %}
